/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "../node_modules/quill/dist/quill.core.css";
@import "../node_modules/quill/dist/quill.snow.css";

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    /* Suggested code may be subject to a license. Learn more: ~LicenseLog:84399132. */
}

:focus-visible {
    outline: 2px solid #000000 !important;
    box-shadow: none !important;
}